@import url('https://fonts.googleapis.com/css?family=Merriweather');
/*General*/
#body {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.infoblock {
    width: 80%;
    background-color: white;
    color: black;
    padding: 30px 0 30px 0;
    margin: 5% 0 5% 0;
}

.exImg {
    width: 10%;
    height: 10%;
    float: right;

}
p1{
    font-size: 15px;
    font-weight: bold;
}

/*Staring page*/

:root {
    --buttonStartedWidth: 14%;
}

/*Image styling*/
#startimg {
    display: block;
    margin: 0;
    background: url("../IMG/startim.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover !important;
    width: 100%;
    height: 100%;
    transition: 500ms;
}

/*button styling*/
#getstartedBTN {
    position: absolute;
    display: inline-block;
    width: var(--buttonStartedWidth);
    height: 0;
    padding-top: calc(var(--buttonStartedWidth) / 2);
    padding-bottom: calc(var(--buttonStartedWidth) / 2);
    border-radius: 50%;
    background-color: white;
    border: solid 2px white;
    font-size: 1.75vw;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    line-height: 0;
    text-transform: uppercase;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    transition: 500ms;
    outline: none;
}

#getstartedBTN:hover ~ #startimg {
    margin: 0;
    background: url("../IMG/startimeffects.png") no-repeat center center;
    background-size: cover !important;
    width: 100%;
    height: 100%;
}

#getstartedBTN:hover {
    --buttonStartedWidth: 15.5%;
    /*background-color: black;*/
    border: solid 2px black;
    font-size: 2vw;
    transition: 500ms;
}

#slideto {
    height: 100vh;
    z-index: -1;
    display: block;
}

#menu {
    width: 100%;
    background-color: #161616;
    margin: 0;
    display: none;
    flex-direction: row;
    position: absolute;
    overflow-x: hidden;
    top: 0;
    left: 0;
}

#menusSliderButton {
    width: 4vw;
    height: 100vh;
}

#arrowRight {
    width: 4vh;
    height: 4vh;
    position: fixed;
    /*display: none;*/
    top: 50%;
    transition: 400ms;
}

img#arrowRight:hover {
    width: 6vh;
    height: 6vh;
}

#closeBTN {
    width: inherit;
    padding: 10px;
    margin-bottom: 15%;
}

#closeBTNIMG {
    width: 4vh;
    height: 4vh;
    transition: 0.4s;
    position: absolute;
    float: right;
    left: 85%;
}

#closeBTNIMG:hover {
    width: 6vh;
    height: 6vh;
}

.listitem {
    width: 5vw;
    height: 2.5vh;
    background-color: black;
    border-radius: 4px;
    color: whitesmoke;
    size: 5em;
    border: solid whitesmoke 2px;
    padding: 15px;
    margin: 1.5vh 2px 1.5vh 2px;
    text-align: center;
    vertical-align: center;
    transition: all 0.3s;
}

#first {
    margin: 1.5vh 0 1.5vh 2px;
}

a.listitem:hover {
    background-color: white;
    color: black;
}

#parallax {
    background-image: url("../IMG/Background1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oxygen', sans-serif;
}

.backgroundImages {
    width: 100vw;
    height: 100vh;
}

/* Footer & Co. */

footer{
    height: 100px;
    width: 100%;
    background: #161616;
    padding: 15px 20px 0 20px;
}

.share {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.btn.share-btn {
    border: medium none;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    margin-top: 6px;
    margin-right: 7px;
    opacity: 0.9;
    outline: medium none;
    padding: 8px 16px;
    border-radius: 5px;

}
.share-btn {
    color: #ffffff;
    border: none;
    padding: 0.5em;
    width: 3em;
    opacity: 0.9;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
    outline: none;
    text-align: center;
}
.share-btn:hover,
.share-btn:focus {
    color: #eeeeee;
}
.share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    opacity: 1;
    outline: medium none;
}
.twitter {
    background: #55acee none repeat scroll 0 0;
}
.google-plus {
    background: #dd4b39 none repeat scroll 0 0;
}
.facebook {
    background: #3b5998 none repeat scroll 0 0;
}
.stumbleupon {
    background: #eb4823 none repeat scroll 0 0;
}
.reddit {
    background: #ff5700 none repeat scroll 0 0;
}
.linkedin {
    background: #4875b4 none repeat scroll 0 0;
}

/* Optical Illusions

.Literal{
    background-color: white;
    width: 100%;
    height: auto;
}

.Physical{
    background-color: white;
    width: 100%;
    height: auto;
}

.Cognitive{
    background-color: white;
    width: 100%;
    height: auto;
}
*/